@page "/counter"
@page "/counter/messages"
@page "/counter/profile"
@page "/counter/settings"
@inherits CounterPageBase
@using SonOfTabNav.Client.Features.Base.Components
<h1>Counter Page</h1>

<h2>Counter Display 1</h2>
<Counter TestId="Counter1" />

<h2>Counter Display 2</h2>
<Counter TestId="Counter2" />
<p>Current Route: @RouteState.Route</p>
<p>ActiveTab: @ActiveTab</p>

<h6>Reset button will clear all state in the Store and return you to the home page</h6>
<ResetButton />
<br />
<hr />

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link @(ActiveTab=="counter" ? "active": "")" id="home-tab" data-toggle="tab" href="/counter" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link @(ActiveTab=="profile" ? "active": "")" id="profile-tab" data-toggle="tab" href="/counter/profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link @(ActiveTab=="messages" ? "active": "")" id="messages-tab" data-toggle="tab" href="/counter/messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link @(ActiveTab=="settings" ? "active": "")" id="settings-tab" data-toggle="tab" href="/counter/settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane  @(ActiveTab=="counter" ? "active": "")"  id="home" role="tabpanel" aria-labelledby="home-tab">HomeTab</div>
  <div class="tab-pane  @(ActiveTab=="profile" ? "active": "")"  id="profile" role="tabpanel" aria-labelledby="profile-tab">ProfileTab</div>
  <div class="tab-pane  @(ActiveTab=="messages" ? "active": "")" id="messages" role="tabpanel" aria-labelledby="messages-tab">MessagesTab</div>
  <div class="tab-pane  @(ActiveTab=="settings" ? "active": "")" id="settings" role="tabpanel" aria-labelledby="settings-tab">SettingsTab</div>
</div>


<h6>EventStream is an example of middleware.  It adds each action to list.</h6>
<EventStream />